@import "compass/css3";

$border: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

.toggle-button {
  display: inline-block;
  @include background-image(radial-gradient(#62c462, #51a351));
  @include border-radius(4px);
  border: 1px solid;
  border-color: $border;
  position: relative;
  bottom: -2px;
  min-height: 25px;

  //&:before, &:after {
  //  font-size: 11px;
  //  font-weight: bold;
  //  letter-spacing: .4px;
  //}

  span {
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  }

  &.disabled {
    @include background-image(linear-gradient(top, #fff, #e6e6e6));
    border-color: $border;
    span {
      color: #000;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    }
  }

  label {
    cursor: pointer;
    position: absolute;
    width: 50%;
    height: 100%;
    @include background-image(linear-gradient(top, #fff, #e6e6e6));
    @include border-radius(4px);
    border: 1px solid;
    border-color: $border;
  }

  span {
    padding: 2%;
    padding-top: 5px;
    padding-bottom: 5px;
    //margin: 2%;
    cursor: pointer;
    display: inline-block;
    width: 50%;
    height: 100%;
    @include box-sizing('border-box');
    text-align: center;
  }

  input[type=checkbox] {
    display: none;

    & ~ label {
      margin-left: 0;
    }
    & ~ span {
      padding-left: 50%;
      width: 100%;
    }
    &:checked ~ label {
      margin-left: 50%;
      //margin-right: -1px;
      @include box-sizing('border-box');
    }
    &:checked ~ span {
      padding-left: 2%;
      width: 50%;
    }
  }

  &.primary {
    @include background-image(linear-gradient(top, #08C, #05C));
  }
  &.info {
    @include background-image(linear-gradient(top, #5BC0DE, #2F96B4));
  }
  &.success {
    @include background-image(linear-gradient(top, #62C462, #51A351));
  }
  &.warning {
    @include background-image(linear-gradient(top, #FBB450, #F89406));
  }
  &.danger {
    span {
      color: white;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    }
    @include background-image(linear-gradient(top, #EE5F5B, #BD362F));
  }
}