@import "compass/css3";

$border: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

.toggle-button {
  display: inline-block;
  @include background-image(linear-gradient(top, #08C, #05C));
  @include border-radius(4px);
  border: 1px solid;
  border-color: $border;
  position: relative;
  bottom: -2px;
  text-align: left;
  min-height: 25px;
  max-height: 25px;

  &:before, &:after {
    line-height: 25px;
    font-weight: bold;
    letter-spacing: .4px;
  }

  &:before {
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    content: attr(data-enabled);
    margin-left: 10px;
  }

  &.disabled {
    @include background-image(linear-gradient(top, #fff, #e6e6e6));
    border-color: $border;
    &:before {
      color: #555;
      padding-left: 50%;
      margin-left: 10px;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
      content: attr(data-disabled);
    }
  }

  label {
    cursor: pointer;
    position: absolute;
    width: 50%;
    height: 25px;
    @include background-image(linear-gradient(top, #fff, #e6e6e6));
    @include border-radius(4px);
    border: 1px solid;
    border-color: $border;
  }


  input[type=checkbox] {
    display: none;

    &:checked + label {
      top: -1px;
      left: 50%;
    }
    & + label {
      top: -1px;
      left: -1px;
    }
  }

  &.primary, &.info, &.success, &.warning, &.danger {
    &:before {
      color: white;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    }
  }

  &.primary {
    @include background-image(linear-gradient(top, #08C, #05C));
  }
  &.info {
    @include background-image(linear-gradient(top, #5BC0DE, #2F96B4));
  }
  &.success {
    @include background-image(linear-gradient(top, #62C462, #51A351));
  }
  &.warning {
    @include background-image(linear-gradient(top, #FBB450, #F89406));
  }
  &.danger {
    @include background-image(linear-gradient(top, #EE5F5B, #BD362F));
  }
}